#me {
  width: 250px;
  height: 250px;
  border-radius: 250px;
  border: 5px solid #ffffff;
}

.line-break {
  max-width: 125px;
}

.name {
  font-size: 50px;
  text-shadow: 2px 2px 4px #000000;
}

.job {
  font-size: 20px;
  text-shadow: 1px 1px 2px #000000;
}

.stack-bio {
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
  color: #000000;
  text-shadow: 2px 2px 4px #ffffff;
  font-size: 16px;
}

.work-link {
  justify-content: center;
  color: #ffffff;
  font-size: 14px;
}

.who-link {
  justify-content: center;
  color: #ffffff;
  font-size: 14px;
}

.who-bio {
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
  color: #000000;
  text-shadow: 2px 2px 4px #ffffff;
  font-size: 16px;
}

h1 {
  text-shadow: 2px 2px 4px #000000;
}

.work-button {
  margin: 0 auto;
  padding-top: 0px;
  border-radius: 8px;
  background-color: #646439;
}

.who-button {
  margin: 0 auto;
  padding-top: 0px;
  border-radius: 8px;
  background-color: #646439;
}

.who-button,
.work-button {
  margin-left: 300px;
  padding: 4px 8px;
}
